.header__logo {
	max-width: 142px;
	max-height: 33px;
}

@media screen and (max-width: 984px) {
	.header__logo {
		padding: 0 19px;
	}
}

@media screen and (max-width: 568px) {
	.header__logo {
		object-fit: contain;
		padding: 0 27px;
		max-width: 104px;
		max-height: 25px;
	}
}
