.profile__profile-info {
	position: relative;
	max-width: 336px;
	width: 100%;
	height: 100%;
	margin: auto 0 auto 29.5px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 750px) {
	.profile__profile-info {
		margin: 26.25px 0 auto 0;
		max-width: 372px;
	}
}

@media screen and (max-width: 568px) {
	.profile__profile-info {
		max-width: 288px;
	}
}
